<div class="container">
<div class="row justify-content-center align-items-center">
  <div class="col col-lg-6" >
    <div>
      <h1>Welcome To Tic-Tac-Toe</h1>
      <hr/>
    </div>
    <div class="text-center" *ngIf="!winMessage"><h1 class="uppercase"> Turn :
      <span [hidden]="isCross" class="uppercase text-danger" > O</span>
      <span [hidden]="!isCross" class="uppercase text-info" > X</span>
    </h1>
    </div>
    <div class="text-center" *ngIf="winMessage">
      <h1 
      [ngClass]="{'text-info': this.winMessage.includes('cross'),
       'text-danger' : this.winMessage.includes('circle')
      }"
      class="text-uppercase"
      > {{this.winMessage}}
    &nbsp;
      <!-- <button 
      (click)="reloadGame()"
      class="btn btn-danger text-uppercase pl-5 pr-5">
        Reload Game  
      </button> -->
    </h1>
      <!-- <h1 class="text-uppercase text-danger" *ngIf="this.winMessage.includes('circle')"> {{this.winMessage}}</h1> -->
     
      <br/>
    </div>
<div class="grid" >
  <div *ngFor="let item of itemArray; index as i">
    <div class="card">
      <div class="card-box box" (click)="handleClick(i)">
        <app-icon [iconName]="item"></app-icon>
      </div>
    </div>
  </div>
</div>
  </div>
  <!-- <div class="col col-lg-6 text-center"  *ngIf="winMessage">
    <h1 class="text-uppercase"> {{this.winMessage}}</h1>
    <button 
    (click)="reloadGame()"
    class="btn btn-danger text-uppercase pl-5 pr-5">
      ReloadGame  
    </button>
  </div> -->
</div>
</div>